.card {
  background-color: #cec9cb;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
}
img {
  width: 100%;
}
* {
  box-sizing: border-box;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

body {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  background-color: #e4d4f7;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

.card a {
  color: inherit;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 120ch;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  margin-top: 60px;
}
.card-wrapper-2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 120ch;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  margin-top: 40px;
}
.work-btn {
  margin-bottom: 10px;
  display: block;
  width: 50%;
  border: none;
  background-color: rgb(112, 111, 111);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  float: left;
}
.work-btn:active {
  background-color: #f2f3f2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.work-btn:hover {
  color: black;
  font-weight: 100px;
  background-color: rgb(136, 24, 121);
}

.feed-btn {
  margin-bottom: 0px;
  display: block;
  width: 50%;
  border: none;
  background-color: rgb(112, 111, 111);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  float: right;
}
.feed-btn:active {
  background-color: #f2f3f2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.feed-btn:hover {
  color: black;
  font-weight: 100px;
  background-color: rgb(136, 24, 121);
}
.progressbar {
  background-color: purple;
  width: 30%;
  height: 10px;
  border-radius: 10px;
}
.baroutline {
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  padding: 3px;
  line-height: 30%;
}

.adopt-btn {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: none;
  background-color: rgb(112, 111, 111);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  /* margin-top: 10px; */
  color: white;
}
.adopt-btn:active {
  background-color: #f2f3f2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.adopt-btn:hover {
  color: black;
  font-weight: 100px;
  background-color: rgb(136, 24, 121);
}
