.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 23.5rem;
  width: 20rem;
  background-color: rgb(168, 160, 160);
}

img {
  border-radius: 5px 5px 0 0;
}
.baroutline {
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  padding: 3px;
  line-height: 30%;
}
.h2 {
  text-align: center;
  padding-bottom: 20px;
}
.rat-info {
  text-align: center;
  align-items: center;
}
.title {
  text-align: center;
  display: inline-block;
  margin-left: 490px;
}
